@import "../../mixins";

section#conocimientos {
    padding: 0 2rem 2rem 2rem;

    @include x768 {
        padding: 0 4rem 2rem 4rem;
    }

    p {
        display: inline-block;
        margin-top: 0.6rem;
        font-size: 1.1rem;

        @include x500 {
            font-size: 1.2rem;
        }
    }

    p.info {
        min-height: 112px;

        @include x375 {
            min-height: 90px;
        }

        @include x600 {
            min-height: 68px;
        }

        @include x1024 {
            min-height: 45px;
        }
    }

    div.container {
        margin-top: 1.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 80px;
        justify-items: center;
        align-items: center;
        gap: 1rem;

        @include x500 {
            grid-auto-rows: 90px;
        }

        @include x600 {
            grid-auto-rows: 100px;
        }

        @include x768 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include x1024 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        div {
            background-color: $dark3;
            border: 2px solid transparent;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            transition: border 100ms ease-in;
            cursor: pointer;

            img {
                aspect-ratio: 1/1;

                @include x600 {
                    transform: scale(1.2);
                }
            }
        }
    }
}