@import "../../mixins";

section#proyectos {
    padding: 0 2rem;
    background-color: $dark1;
    position: relative;

    @include x768 {
        padding: 1rem 4rem 0 4rem;
    }

    @include x1360 {
        padding: 2rem 4rem 1rem 4rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    div.container {
        display: grid;
        grid-auto-rows: min-content;
        margin-top: 1rem;
        gap: 1.5rem;
        
        @include x1024 {
            grid-template-columns: 1fr 1fr;
        }

        @include x1360 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        article {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            background-color: $dark2;
            border-radius: 6px;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.2em;
                opacity: 0.9;
                font-weight: 500;
                margin-bottom: 0.5rem;
                
                @include x500 {
                    font-size: 1.3em;
                    margin-bottom: 0.6rem;
                }
            }
            
            p {
                margin-bottom: 0.7rem;

                @include x500 {
                    font-size: 1.2rem;
                    margin-bottom: 0.8rem;
                }

                @include x1360 {
                    font-size: 1.1rem;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                @include x1024 {
                    margin-top: auto;
                }

                a {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: $primary;
                    cursor: pointer;

                    @include x500 {
                        font-size: 1.2rem;
                    }
                }

                span {
                    color: $secondary;
                    opacity: 0.8;
                    font-size: 0.9rem;

                    @include x500 {
                        font-size: 1rem;
                    }
                }
            }

        }

        a.github {
            color: $primary;
            text-decoration: none;
            font-size: 1.1rem;
            text-align: center;

            @include x500 {
                font-size: 1.2rem;
            }

            @include x600 {
                font-size: 1.3rem;
            }

            @include x1024 {
                grid-column: 1/3;
            }

            @include x1360 {
                grid-column: 1/4;
            }
        }
    }
}