@import "../../colors";

section#proyectos {
    padding: 0 2rem;
    background-color: $dark1;
    position: relative;

    h2 {
        margin-bottom: 1rem;
    }

    div.container {
        display: grid;
        grid-auto-rows: min-content;
        margin-top: 1rem;
        gap: 1.5rem;

        article {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            background-color: $dark3;
            border-radius: 6px;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.2em;
                opacity: 0.9;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }
            
            p {
                word-wrap: break-word;
                word-break: keep-all;
                color: $secondary;
                font-size: 1rem;
                line-height: 1.3rem;
                margin-bottom: 0.7rem;
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                a {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: $primary;
                    cursor: pointer;
                }

                span {
                    color: $secondary;
                    opacity: 0.8;
                    font-size: 0.9rem;
                }
            }

        }

        a.github {
            color: $primary;
            text-decoration: none;
            font-size: 1.1rem;
            text-align: center;
        }
    }

}