@import "../../mixins";

section#creditos {
    padding: 1.5rem 2rem 1rem 2rem;
    background-color: $dark2;
    display: flex;
    flex-direction: column;
    
    h2 {
        margin-bottom: 0.8rem;
    }

    a {
        text-decoration: none;
        color: $primary;
    }

    span {
        color: $secondary;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;

        @include x360 {
            font-size: 1rem;
        }

        @include x600 {
            font-size: 1.1rem;
        }

        b {
            font-weight: normal;
            color: $primary;
        }
    }
}

span.copy {
    color: $secondary;
    padding: 0.5rem 2rem 1.5rem 2rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: $dark2;
    font-size: 1rem;

    @include x360 {
        font-size: 1.1rem;
    }

    span {
        color: $primary;
    }
}