@import "../../mixins";

section#creditos {
    padding: 1.5rem 2rem 1rem 2rem;
    background-color: $dark2;
    display: flex;
    flex-direction: column;
    
    @include x768 {
        padding: 0 4rem;
        background-color: $dark1;
    }

    @include x1024 {
        padding: 1.5rem 4rem 2rem 4rem;
        border-radius: 6px;
        height: min-content;
    }

    h2 {
        margin-bottom: 0.8rem;
    }

    a {
        text-decoration: none;
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        color: $secondary;
        margin-bottom: 0.3rem;
        font-size: 0.8rem;
        white-space: nowrap;

        @include x360 {
            font-size: 1rem;
        }

        @include x600 {
            font-size: 1.1rem;
        }

        @include x768 {
            font-size: 1.2rem;
        }

        @include x1024 {
            margin-bottom: 0.6rem;
            font-size: 1.1rem;
        }

        b {
            font-weight: normal;
            color: $primary;
        }
    }
}

span.copy {
    color: $secondary;
    padding: 0.5rem 2rem 1.5rem 2rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: $dark2;
    font-size: 0.9rem;

    @include x360 {
        font-size: 1rem;
    }

    @include x768 {
        padding: 1.2rem 2rem;
        margin-top: 2rem;
    }

    @include x1024 {
        margin-top: 0;
    }

    span {
        color: $primary;
    }
}