@import "../../mixins";

section#quiensoy {
    margin-top: 3rem;
    
    article {
        padding: 2rem;
        background-color: $dark3;
        display: flex;
        flex-direction: column;
    
        span {
            color: $primary;
            margin-bottom: 0.4rem;
        }

        h4 {
            font-weight: normal;
        }

        h2 {
            margin-bottom: 0.2rem;
        }

        h4 {
            font-size: 1.2em;
            margin-bottom: 1rem;
            color: $white;

            @include x500 {
                margin-bottom: 0.6rem;
            }
        }

        p {
            margin-bottom: 1.5rem;

            @include x500 {
                font-size: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }

        div.social {
            display: flex;
            gap: 1rem;

            a {
                cursor: pointer;

                img {
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
            }
        }
    }
}