@import "../../mixins";

section#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 2rem 1rem 2rem;

    @include x425 {
        padding: 3.5rem 2rem;
    }

    @include x600 {
        padding: 4rem 2rem;
    }

    @include x768 {
        padding: 4rem 4rem;
    }

    h3, h2 {
        span {
            color: $primary;
        }
    }
    
    h2 {
        font-size: 1.2em;

        @include x360 {
            font-size: 1.4rem;
        }

        @include x375 {
            font-size: 1.6em;
        }

        @include x500 {
            font-size: 1.8em;
        }
    }

    h3 {
        margin-top: 0.5rem;
        padding-right: 3rem;
        color: $secondary;
        font-weight: normal;
        font-size: 1.1em;

        span {
            font-weight: bold;
        }

        @include x425 {
            padding-right: 4rem;
        }

        @include x500 {
            padding-right: 5rem;
            font-size: 1.2em;
        }

        @include x768 {
            font-size: 1.4rem;
        }
    }

    button {
        margin-top: 1rem;
        width: 150px;
        background-color: $primary;
        font-weight: bold;
        padding: 0.6rem;
        border-radius: 4px;
        border: none;
        font-size: 0.9em;
        color: $white;
        cursor: pointer;

        @include x360 {
            font-size: 1em;
        }

        @include x500 {
            font-size: 1.1rem;
        }
    }

    span.image {
        position: absolute;
        font-size: 13em;
        right: 0.8rem;
        top: -1.8rem;
        -webkit-text-stroke: 1px $primary;
        color: $dark1;
        z-index: -2; 

        @include x425 {
            font-size: 15em;
            right: 1.2rem;
        }

        @include x500 {
            right: 2.5rem;
            top: -2.6rem;
            font-size: 17em;
        }

        @include x600 {
            font-size: 18em;
        }

        @include x768 {
            top: -0.6rem;
            right: 3.8rem;
            font-size: 15em;
        }

        @include x1024 {
            font-size: 14em;
        }
    }
}