@import "../../mixins";

section#contacto {
    padding: 1.5rem 2rem 2rem 2rem;
    background-color: $dark3;

    h2 {
        margin-bottom: 0.4rem;
    }

    span {
        color: $secondary;
        font-size: 1rem;
        display: inline-block;

        span {
            font-weight: normal;
            color: $primary;
        }

        @include x360 {
            font-size: 1.1rem;
        }

        @include x500 {
            font-size: 1.2rem;
        }
    }

    form {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input, textarea {
            width: 100%;
            background: none;
            border: 1px solid $secondary;
            border-radius: 4px;
            padding: 0.6rem;
            font-size: 1rem;
            color: $secondary;
            resize: none;
            font-family: sans-serif;

            @include x500 {
                font-size: 1.1rem;
            }
        }

        textarea {
            height: 160px;

            @include x500 {
                height: 140px;
            }

            @include x600 {
                height: 120px;
            }
        }

        input::placeholder, textarea::placeholder {
            color: $secondary;
        }

        button {
            padding: 0.8rem;
            background-color: $primary;
            color: $white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            cursor: pointer;

            @include x500 {
                font-size: 1.1rem;
            }
        }

        @keyframes error {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        p {
            border: 1px solid $primary;
            background-color: rgba(255, 0, 0, 0.082);
            padding: 0.5rem 0.8rem;
            border-radius: 4px;
            color: $primary;
            font-size: 1rem;
            margin: 0 0 -0.5rem 0;
            animation: error 200ms ease-in;
            animation-fill-mode: forwards;
        }

        p.success {
            border-color: #99ff3a;
            background-color: rgba(136, 255, 0, 0.082);
            color: #99ff3a;
        }
    }
}