@import "../../mixins";

nav.desktop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 2rem 4rem;
    background-color: $dark1;
    display: grid;
    grid-template-columns: min-content auto min-content;

    h2 {
        font-size: 1.9em;

        b {
            color: $primary;
            padding: 0 .1rem;
        }
    }

    div.options {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include x1360 {
            gap: 1.5rem;
        }

        span {
            color: $white;
            font-size: 1rem;
            white-space: nowrap;
            cursor: pointer;

            @include x1360 {
                font-size: 1.1rem;
            }
        }

        img {
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-left: 1rem;
            cursor: pointer;

            @include x1360 {
                width: 26px;
                margin-left: 0.5rem;
                height: auto;
            }
        }
    }
}