@import "../../colors";

section#footer {
    padding: 0 2rem 1.5rem 2rem;
    background-color: $dark3;
    text-align: center;

    span {
        color: $secondary;
    }

    b {
        font-weight: normal;
        color: $primary;
    }
}