@import "../../colors";

section#laboratorio {
    padding: 2rem;
    background-color: $dark1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h2 {
        margin-bottom: -0.5rem;
    }

    article {
        display: flex;
        flex-direction: column;
        background-color: $dark3;
        padding: 1.5rem;
        border-radius: 6px;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        h4 {
            margin-bottom: 0.5rem;
            font-weight: normal;
            font-size: 1.2em;
        }

        p {
            margin-bottom: 0.7rem;
        }

        span {
            font-size: 0.9rem;
            color: $secondary;
            opacity: 0.6;
            margin-top: 0.5rem;
        }

        a {
            text-decoration: none;
            color: $primary;
            font-size: 1.1rem;
        }
    }
}