@import "../../mixins";

section#laboratorio {
    padding: 2rem;
    background-color: $dark1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include x768 {
        padding: 2rem 4rem;
    }

    @include x1024 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
    }

    @include x1360 {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 2rem 4rem 3rem 4rem;
    }

    h2 {
        margin-bottom: -0.5rem;

        @include x1024 {
            grid-column: 1/3;
        }

        @include x1360 {
            grid-column: 1/4;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        background-color: $dark2;
        padding: 1.5rem;
        border-radius: 6px;

        img {
            aspect-ratio: 1/1;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        h4 {
            margin-bottom: 0.5rem;
            font-weight: normal;
            font-size: 1.2em;

            @include x500 {
                font-size: 1.3em;
                margin-bottom: 0.6rem;
            }
        }

        p {
            margin-bottom: 0.7rem;

            @include x500 {
                font-size: 1.2rem;;
            }
        }

        span {
            font-size: 0.9rem;
            color: $secondary;
            opacity: 0.6;
            margin-top: 0.5rem;

            @include x500 {
                font-size: 1rem;
            }

            @include x1360 {
                display: none;
            }
        }

        a {
            text-decoration: none;
            color: $primary;
            font-size: 1.1rem;

            @include x500 {
                font-size: 1.2rem;
            }

            @include x1024 {
                margin-top: auto;
            }
        }
    }
}