$dark1: #040405;
$dark2: #09090B;
$dark3: #101013;
$primary: rgb(255, 58, 94);
$secondary: #BFBFBF;
$white: #FFF;

@mixin x360 {
    @media only screen and (min-width: 360px) {
        @content;
    }
}

@mixin x375 {
    @media only screen and (min-width: 375px) {
        @content;
    }
}

@mixin x425 {
    @media only screen and (min-width: 425px) {
        @content;
    }
}

@mixin x500 {
    @media only screen and (min-width: 500px) {
        @content;
    }
}

@mixin x600 {
    @media only screen and (min-width: 600px) {
        @content;
    }
}

@mixin x768 {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin x1024 {
    @media only screen and (min-width: 1020px) {
        @content;
    }
}

@mixin x1360 {
    @media only screen and (min-width: 1356px) {
        @content;
    }
}